.main-content{
    max-width: 567px;
    margin: auto;
    @media only screen and (max-width: 425px) {
        max-width: 100%;
    }
}
input.form-control{
    border-radius: 8px;
    &:focus{
        border: 2px solid $primary !important;
        box-shadow: none;
    }
}
.navbar-with-logo{
    min-height: 50px;
}
.navbar-with-text{
    min-height: 50px;
}
.register-type-tabs{
    .tab-btn{
        font-size: 14px;
        &:focus{
            box-shadow: none;
        }
    }
    .active{
        border: 1px solid #BEBEC2;
        background-color:  #FCFCFC;
        border-radius: 10px;
    }
}
.tab-content{
    width: 80%;
    margin: auto;
    .email-form {
        .continue-btn {
            border-radius: 10px;
        }
        .term-condition-text{
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #6F6E73;
            span{
                color: #587BE0;
            }
        }
    }
    .already-have-account{
        p{
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.close-icon{
    background: #e5e5e5;
    position: absolute;
    color: #6F6E73;
    border-radius: 50%;
    right: 10px;
    border: none;
}
.otp-input{
    input{
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 6px;
        border: 1px solid #CFCFCF;
        width: 42px !important;
        height: 42px !important;
        &:focus{
            border: 2px solid #885FFF;
        }
    }
}